/* ------------
google font cdn
--------------- */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
/* ------------------------------
    common css
---------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    color: #242B2E;
    background-color: #CAD5E2;
    font-family: 'PT Serif', serif;
}
/* ------------------------------
    custome css
---------------------------------*/
.mydark-textcolor{
    color: #242B2E ;
}
.mydark-bgcolor{
    background-color: #242B2E;
}
.mylight-textcolor{
    color: #CAD5E2;
}
.mylight-bgcolor{
    background-color: #CAD5E2;
}
.myred-color{
    color: #B4161B;
}
.myred-textcolor:hover{
    color: #B4161B;
}
.founding-container{
    height: 70px;
}
.hover-card:hover{
    box-shadow: 0 0.5rem 2rem rgba(43, 35, 35, 0.175);
}
.red-borderimg{
    border: 5px solid #B4161B;
}
.card-fontsize{
    font-size: 12px;
}
